@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat:300,400,600');
	* {
		box-sizing: border-box;
	}
	body{
		font-family: 'Montserrat', sans-serif;
		background-color: #940300;
		background-image: url(images/BackgroundHex.png);
		background-size: 10rem;
		/*background: #940300;*/
	}
	main{
		color: white;
		background-color: #474141;
		margin: 0 auto;
		max-width: 60rem;
		border: 4px solid black;
		/*box-shadow: 10px 10px 20px black;*/
	}
	.main{
		padding: 3rem;
	}
	a{
		color: #FFDD00;
	}
	a:hover{
		transition: 0.3s;
		text-shadow: 5px 5px 5px #000;
	}
	nav{
		text-align: center;
		background: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(255,255,255,0));
		margin: 0 auto;
		padding: 2rem;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	nav a:first-child{
		display: none;
	}
	nav a{
		flex: 1;
		text-decoration-line: none;
		color: white;
		padding: 1rem;
		text-shadow: 5px 5px 10px #000;
}
	nav a:hover{
		color: gray;
		transition: 0.3s;
		text-shadow: 0px 0px 0px #000;
	}
	.logo{
		height: 0.5rem;
		top: 0.5rem;
		left: 1rem;
		position: fixed;
	}
	.logo img{
		width: 5rem;
	}
	h1{		
		background-image: url(images/Logo-2x.png);
		background-repeat: no-repeat;
		background-size: 40rem auto;
		background-position: center 4rem;
		background-attachment: fixed;
		
		font-family: 'Bungee', cursive;
		color: #2E2A25;
		text-shadow: 5px 5px 0px #FFDD00;
		padding:3rem;
		padding-top: 28rem;
		margin-top: 0;
		margin: 0;
		text-align: center;
		font-size: 50pt;
	}
	h1:hover{
		transition: 1s;
	}
	label{
		width: 10rem;
		height: 2rem;
   		display: inline-grid;
   		text-align: right;
		vertical-align: middle;
	}
	input, textarea{
		margin: 0.5rem;
		padding: .1rem;
	}
	h2{
		color: #FF3A1E;
		text-shadow: 2px 2px 2px black;
	}
	footer{
		padding-top: 8rem;
	}
	h3{
		margin-left: 2rem;
		margin-top: 1rem;
		font-size: 20pt;
		color: white;
		text-shadow: 4px 4px 3px #000;
	}
	footer a img{
		width: 2rem;
	}
@media all and (max-width: 1000px){
	body{
		background: #940300;
	}
	h1{
		/*text-shadow: 0px 0px 0px #000;
		border: 3px solid #FFDD00;*/
		text-shadow: -3px 0 #FFDD00, 0 3px #FFDD00, 3px 0 #FFDD00, 0 -3px #FFDD00;
	}
}
@media all and (max-width: 445px){
	form{
		text-align: center;
		margin: 0 auto;
	}
}
@media all and (max-width: 550px){
	/*.main{
		padding: 2rem;
		text-align: justify;
		background-color: darkred;
	}*/
	main{
		border: 2px solid black;
		padding: 0rem;
	}
	h1{
		background-image: url(images/Logo-1x.png);
	}
	nav{
		display: flex;
		flex-direction: column;
		padding: 0rem;
		font-size: 1rem;
		overflow: hidden;
		background: black;
		position: fixed;
		width: 10rem;
		height: 3rem;
		top: 0;
		left: 0;
		transition: .5s;
		background-color: transparent;
		border: 2px solid rgba(0,0,0,0.39);
		border-radius: 0 0 25px 0;
	}
	nav a:first-of-type{
		display: block;
	}
	nav a:hover, nav a:focus{
		background: #FFDD00;
		text-shadow: 0;
	}
	nav a{
		flex: 1;
		line-height: 1rem;
		width: 100%;
	}
	nav:hover, nav:focus{
		height: 15rem;
		width: 100%;
		text-align: center;
		background-color: black;
		border-radius: 0px;
		border: 0px;
	}
	h1{
		background-size: 100%;
		padding-top: 15rem;
	}
	footer a img{
		width: 40px;
	}
}
@media all and (max-width: 700px){
	.main{
		padding: 1.5rem;
	}
	h1{
		background-size: 70%;
	}
}